<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="Windows-88592">
    <title th:text="${title}"></title>
</head>
<body>

    <table>
        <tr>
            <th width="50px">Id</th>
            <th width="300px">Book</th>
            <th width="200px">Data</th>
        </tr>

        <tr th:each="selectedBook : ${selectedBooks}">
            <td th:text="${selectedBook.id}"></td>
            <td th:text="${selectedBook.book}"></td>
            <td th:text="${selectedBook.ctime}"></td>
        </tr>

    </table>
    <a href="/select"><input type="button" value="Wybór książek"/></a>
    <a href="/stat"><input type="button" value ="Statystyka"/></a>

</body>
</html>