<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="Windows-88592">
    <title th:text="${title}"></title>
</head>
<body>

    <h1 th:text="${title}"></h1>

    <table>
        <tr th:each="booksRow : ${books}">
            <td width="200px" height="80px"
                th:each="book : ${booksRow}"
                th:attr="bgcolor=yellow"
                th:text="${book}"
                th:onclick="'location.href= \'' + @{/select/{c}(c=${book})} + ' \' '"
            />
        </tr>
    </table>

</body>
</html>